.admin {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    p {
        color: #7e7e7e;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    &__panel {
        color: #253d4e;
        max-width: 430px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h3 {
            font-size: 48px;
            font-weight: 700;
        }
    }
    &__info {
        color: #253d4e;
        display: flex;
        flex-direction: column;
        &__bottom,
        &__top {
            display: flex;
            gap: 50px;
        }

        gap: 30px;
        &__frame {
            max-width: 430px;
            h4 {
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 10px;
            }
        }
    }
    &__map {
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        overflow: hidden;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 50px 0;
    }
    &__card {
        h3 {
            font-size: 24px;
            color: #3bb77e;
        }
        div {
            padding: 20px 0;
            p {
                font-size: 14px;
                color: #7e7e7e;
                padding: 5px 0;
            }
        }
        button {
            padding: 10px 20px;
            background: #3bb77e;
            color: #fff;
            border-radius: 5px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__bottom {
        padding: 60px 0;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 62px;

        &__left {
            span {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: #3bb77e;
            }

            h2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 48px;
                margin: 10px 0;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #b6b6b6;
                margin-bottom: 30px;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;

            &__group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                border: 1px solid #ececec;
                border-radius: 10px;
                outline: none;
                padding: 20px;
            }

            textarea {
                border: 1px solid #ececec;
                border-radius: 10px;
                resize: none;
                width: 100%;
                height: 200px;
                margin-bottom: 37px;
            }

            button {
                background: #253d4e;
                border-radius: 10px;
                padding: 10px 20px;
                font-size: 17px;
                font-weight: 500;
                line-height: 24px;
                color: #fff;
            }
        }
    }

    @media (max-width: 900px) {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 600px) {
        &__cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 1000px) {
    .admin {
        flex-direction: column;
        &__panel {
            max-width: 100%;
        }
    }
}
@media (max-width: 700px) {
    .admin {
        &__info {
            &__top,
            &__bottom {
                flex-direction: column;
            }
        }
        &__panel {
            h3 {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 500px) {
    .admin {
        &__bottom {
            h2 {
                font-size: 30px;
            }
        }
        &__bottom__form__group {
            grid-template-columns: 1fr;
        }

        &__bottom__right img {
            width: 100%;
        }
    }
}

@media (max-width: 900px) {
    .admin {
        &__bottom {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
